<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CustomerRegistryContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Reservations.Customers;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="baseAddress" value="http://localhost:8181"/>
  </appSettings>
</configuration>
