<h4>Customer details</h4>
<label for="CustomerFirstName">First name:</label>
<input type="text" id="CustomerFirstName" name="CustomerFirstName" value="@Model.CustomerFirstName" />
<label for="CustomerLastName">Ladt name:</label>
<input type="text" id="CustomerLastName" name="CustomerLastName" />
<label for="CustomerAddress">Address:</label>
<input type="text" id="CustomerAddress" name="CustomerAddress" />
<label for="CustomerCity">City:</label>
<input type="text" id="CustomerCity" name="CustomerCity" />
<label for="CustomerZipCode">Zip Code:</label>
<input type="text" id="CustomerZipCode" name="CustomerZipCode" />
<label for="CustomerPhoneNumber">Phone number:</label>
<input type="text" id="CustomerPhoneNumber" name="CustomerPhoneNumber" />