@{
    ViewData["Title"] = "Cancel Reservation Summary";
}
<h2>@ViewData["Title"]</h2>
    <div><h2>Your reservation Id: @Model.ReservationId, has been canceled.</h2></div>
    <div>
        <a href="/">New Reservation</a>
    </div>