@{
    ViewData["Title"] = "New reservation";
}

<h2>@ViewData["Title"]</h2>
<form action="/Reservation/Submit" method="post">
    @await Component.InvokeAsync("ReservationSummaryCustomerDetails", Model)
    <input type="submit" value="Reserve..." />
</form>