@{
    ViewData["Title"] = "New reservation";
}

<h2>@ViewData["Title"]</h2>
<form action="/reservation/new" method="post">
    <input type="hidden" id="ReservationId" name="ReservationId" value="@Model.ReservationId">
    <div>
        @await Component.InvokeAsync("ReservationCustomerForm", Model)
    </div>
    <div>
        @await Component.InvokeAsync("ReservationPaymentForm", Model)
    </div>
    <div>
        @await Component.InvokeAsync("ReservationDetailsForm", Model)
    </div>
    <div>
        <input type="submit" value="Book Now!" />
    </div>
</form>