@{
    ViewData["Title"] = "New reservation";
}

<h2>@ViewData["Title"]</h2>
<form action="/reservation/new" method="post">
    <input type="hidden" id="ReservationId" name="ReservationId" value="@Model.ReservationId">
    <div>
        @await Component.InvokeAsync("ReservationCustomerSummary", Model)
    </div>
    <div>
        @await Component.InvokeAsync("ReservationPaymentSummary", Model)
    </div>
    <div>
        @await Component.InvokeAsync("ReservationSummary", Model)
    </div>
    <div>
        <input type="submit" value="Cancel Reservation" />
    </div>
</form>