<h4>Customer details</h4>
<div>
    <label>First name:</label>@Model.CustomerFirstName
</div>
<div>
    <label>Last name:</label>@Model.CustomerLastName
</div>
<input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId" />